.cabecalho{
    background-color:#7b2cbf;
}

.escola{
    background-image: linear-gradient(#1b1b1b,#7b2cbf);
}

.estudante-todos{
    background-color:#ece4f5;
}

.rodape{
    background-color:#1b1b1b;
}